.flex-container {
    display: flex;
    flex-direction: column;
    width: 170px;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border: 5px solid black
}
#display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    width: 170px;
    margin: 5px;
    height: 40px;
    background-color: rgb(218, 204, 204);
    border: 2px solid black;
}
.row {
    display: flex;
    flex-direction: row;
    width: 170px;
    justify-content: space-around;
    margin-bottom: 3px;
    margin-top: 3px;
}
.btn {

    margin-bottom: 3px;
    margin-top: 3px;
    width: 30px;
}
.operator {
    margin-bottom: 3px;
    margin-top: 3px;
    width: 30px;
}
#btn-AC {
    margin-bottom: 3px;
    margin-top: 3px;
    width: 73px;
}
